<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Amanda Winkle, M.A. - Journalist, Social Media Strategist</title>

	<meta name="description" content="Amanda Winkle is a journalist and social media strategist based in Jacksonville, FL">
	
	<meta name="keywords" content="journalist, social media strategist, social media marketing, writer, editor, communications, storytelling, multimedia, breaking news">
	
	<meta name="author" content="Amanda Winkle">

	<link rel="shortcut icon" href="images/amanda_thumbnail.jpg" type="image/jpg" />

	<link type="text/css" rel="stylesheet" href="styles.css" />

	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet" type="text/css"></link>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    
    <script src="animatescroll.js"></script>

</head>

<body>

	<div id="header-container">

		<div id="header">

			<h1>AmandaWinkle.com</h1>

			<div id="nav">
				
				<a onclick="$('#homepage-image-box').animatescroll({padding: 75, scrollSpeed:2000,easing:'easeInOutBack'});">Home</a>
				<a onclick="$('#about').animatescroll({scrollSpeed:2000,easing:'easeInOutBack'});">About</a>
				<a onclick="$('#works').animatescroll({scrollSpeed:2000,easing:'easeInOutBack'});">Selected Works</a>
				<a onclick="$('#contact').animatescroll({scrollSpeed:2000,easing:'easeInOutBack'});">Contact</a>
					
			</div>

		</div>

	</div>

	<div id="main">

		<div id="homepage-image-box">

			<img src="images/amanda_winkle_misty_may_treanor.jpg" alt="Amanda Winkle interviewing Olympian Misty May Treanor" title="Amanda and Misty May Treanor" width="320" height="250" />

			<img src="images/good_editor.jpg" alt="Amanda at Universal's Islands of Adventure" title="Amanda at Universal's Islands of Adventure" width="275" height="250" />

			<img src="images/amanda_catie_idol_talk.jpg" alt="Amanda and Catie on Idol Talk" title="Amanda and Catie on Idol Talk" width="395" height="250" />

			<img src="images/amanda_in_newsroom.jpg" alt="Amanda with her co-workers in the newsroom" title="Amanda with her co-workers in the newsroom" width="480" height="250" />

			<img src="images/amanda_at_desk.jpg" alt="Amanda at the desk" title="Amanda at the desk" width="320" height="250" />

			<img src="images/amanda_editing.jpg" alt="Amanda copy editing at the USF Oracle" title="Amanda copy editing at the USF Oracle" width="190" height="250" />

		</div>

			<div id="container">

			<div id="about" class="page-contents">
	  			
	  			<h2>About me: Amanda Winkle</h2>
							
				<h3>Journalist and social media strategist in Jacksonville, FL</h3>

	  			<table width="100%" cellspacing="5" cellpadding="5">

					<tr>

						<td valign="middle">

							<img width="148" height="159" title="Amanda Winkle" alt="Amanda Winkle" src="images/amanda_thumbnail.jpg">

						</td>

						<td valign="top">

							<p>Welcome to my site! I am a journalist based in Jacksonville, FL who has a decade of experience working as an editor and a web producer in newspaper and TV newsrooms. I have covered two presidential elections, high-profile murder trials and an "Extreme Makeover: Home Edition" build.</p> 

							<p>In December 2015, I obtained my Master's degree in Mass Communications from the University of Florida. During this program, I honed my skills as a social media strategist, learning how to conceptualize, execute and monitor a social media campaign from start to finish.</p>

						</td>

						<td valign="bottom" rowspan="2"><img width="228" height="320" title="Amanda, Madelyn and Jacob" alt="Amanda, Madelyn and Jacob" src="images/amanda_madelyn_jacob.jpg"></td>
					
					</tr>

					<tr>
						
						<td valign="top" colspan="2">

							<p>When I'm not working, I'm spending time with my family, including my husband Jacob, our baby girl Madelyn and my Miniature Pinscher Mojo. Please take a look at my site, examples of my work and let me know if I can help you or your business in your communication or social media efforts.</p>

						</td>

					</tr>

				</table>

			</div>
				
			<div id="works" class="page-contents">

				<h2>Selected works</h2>
				<h3>Journalist and social media strategist in Jacksonville, FL</h3>

					<h4>Professional work</h4>

						<ul>

							<li><a href="http://www.firstcoastnews.com/story/news/local/michael-dunn-trial/2014/02/15/corey-retry-dunn-murder/5519925/" target="_blank">Dunn prosecutor: Will retry on first-degree murder, Feb. 16, 2014, First Coast News (shared byline with Travis Gibson)</a></li>					
							<li><a href="http://jacksonville.com/community/clay/2011-02-10/story/extreme-makeover-family-unf-scholarships-gift-beyond-words" target="_blank">'Extreme Makeover' family: UNF scholarships a 'gift beyond words', Feb. 10, 2011, The Florida Times-Union</a></li>

							<li><a href="http://www.bizjournals.com/tampabay/stories/2007/07/02/story3.html" target="_blank">Women lawyers gradually earn partner status at local firms, July 2, 2007, Tampa Bay Business Journal</a></li>

							<li><a href="http://www.usforacle.com/news/view.php/830215/Everyones-got-their-own-Bee-Gees" target="_blank">Everyone's got their own Bee Gees, March 6, 2007, USF Oracle</a></li>

						</ul>	

					<h4>Graduate work</h4>

						<ul>					

							<li><a href="https://amandaplaysjax.wordpress.com/" target="_blank">Course blog: Intro to Social Media, Research Methods and Social Media Ethics, 2013-2014</a></li>

							<li><a href="https://unravelingthemysteryoftbbt.wordpress.com/" target="_blank">Unraveling the Mystery: Decoding CBS' The Big Bang Theory, Group Project, Mass Communications Theory, Spring 2014</a></li>

							<li><a href="https://symbolofpink.wordpress.com/" target="_blank">Symbol of Pink: An examination of the breast cancer awareness ribbon as a cultural artifact, Group Project, Mass Communications Theory, Spring 2014</a></li>

							<li><a href="http://amandaplaysjax.blogspot.com/" target="_blank">Course blog: Intro to Multimedia Communications, Fall 2013</a></li>

						</ul>	

			</div>

			<div id="contact" class="page-contents">

				<div id="contact-container">

					<h2>Contact</h2>

					<p>Need help creating an integrated marketing campaign? Want to get your business on social media and you're not sure where to start? I can help with that and more. Let me put my decade of experience in journalism and communication to work for you. Contact me at (904) 274-1326, email me at <a href="mailto:amanda@amandawinkle.com?Subject=Hello%20from%20AmandaWinkle.com" target="_top">amanda@amandawinkle.com</a> or fill out the form below.</p>

		<form name="contact" method="post" action="mailto:amandawinkle30@gmail.com?subject=ContactForm" id="contact">

			<fieldset class="group">

				<legend>Tell me about yourself</legend>

					<label for="name">Name:</label> 

				<input type="text" id="name" name="name" size="60" placeholder="Name" />

					<label for="name">Business:</label> 

				<input type="text" id="business" name="business" size="60" placeholder="Business name" />

					<label for="name">Email:</label> 

				<input type="text" id="email" name="email" size="60" placeholder="Email address" />

				<div id="checkbox">

					<p>I need assistance with social media to:</p>

					<label for="gain awareness">
						<input type="checkbox" id="gain awareness" name="assistance" />

					Gain awareness</label>

					<label for="generate leads">
						<input type="checkbox" id="generate leads" name="assistance" />

					Generate leads</label>

					<label for="public relations">
						<input type="checkbox" id="public relations" name="assistance" />

					Public relations</label>

				</div>

				<div id="radio">

					<p>Select your comfort level with social media:</p>

					<label for="very">
						<input type="radio" id="very" name="social media" value="very"/>

					Very</label>

					<label for="somewhat comfortable">
						<input type="radio" id="somewhat" name="social media" value="somewhat" />

					Somewhat</label>

					<label for="not">
						<input type="radio" id="not" name="social media" value="not" />

					No</label>

				</div>

			</fieldset>

				<div id="select-box">

					<label for="industry">Industry</label><br /><select id="industry" name="industry"><option selected>SELECT ONE</option>
						<optgroup label="Media">
							<option value="newspaper">Newspaper</option>
							<option value="magazine">Magazine</option>
							<option value="television">Television</option>
							<option value="online">Online only</option>
						</optgroup>
					
						<optgroup label="Other">	
							<option value="restaurant">Restaurant</option>
							<option value="health care">Health care</option>
							<option value="finance">Finance</option>
						</optgroup>

					</select>

				</div>

			<fieldset class="group">

				<legend>Anything else you'd like to share with me?</legend>

				<textarea id="information" name="information" placeholder="More Information" rows="5" cols="50"></textarea>

			</fieldset>

			<input type="submit" name="submit" id="submit" value="Submit" />

			<input type="reset" name="reset" id="reset" value="Reset" />

		</form>

		</div>

			</div>

		</div>

		<div class="social-container">

			<ul class="social">

				<li id="facebook">

					<a href="https://www.facebook.com/amandawinkle" target="_blank">

						<img width="32" height="32" title="Facebook" alt="Facebook Icon" src="images/social.png" />

						<p>Facebook</p>

					</a>

				</li>

				<li id="twitter">

					<a href="https://twitter.com/amandaplaysjax" target="_blank">

						<img width="32" height="32" title="Twitter" alt="Twitter Icon" src="images/social.png" />

						<p>Twitter</p>

					</a>

				</li>

				<li id="instagram">

					<a href="https://www.instagram.com/amandaplaysjax/" target="_blank">

						<img width="32" height="32" title="Instagram" alt="Instagram Icon" src="images/social.png" />

						<p>Instagram</p>

					</a>

				</li>

				<li id="pinterest"> 

					<a href="https://www.pinterest.com/amandaplaysjax/" target="_blank">

						<img width="32" height="32" title="Pinterest" alt="Pinterest Icon" src="images/social.png" />

						<p>Pinterest</p>

					</a>

				</li>

				<li id="linkedin">

					<a href="https://www.linkedin.com/in/amandawinkle" target="_blank">

						<img width="32" height="32" title="LinkedIn" alt="LinkedIn" src="images/social.png" />

						<p>Linkedin</p>

					</a>

				</li>

			</ul>

		</div>

	</div>

</body>

</html>